.filterContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
}

.filterInput {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    width: 30%;
    height: 1.5rem;
    padding-left: 5px;
  }
}