#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 10px;
  outline: none;
  text-align: center;
}

.otp-input:focus-visible {
  outline: 2px solid rgb(67, 183, 236);
}

.otp-form > button {
  height: 2em;
  width: fit-content;
  padding: 0 20px;
}

.otp-form > button:hover {
  cursor: pointer;
}